<header>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6">
				<h1><a href="/">PhotoFetch</a></h1>
			</div>
			<div class="col-xs-6 text-right">
				<menu-toggle></menu-toggle>
			</div>
			<div class="col-xs-12" ng-controller="activeSearchCtrl">
				<h3 ng-show="activeSearchMap[0]" id="search-terms">
					<small>Showing Results for:</small>
					<small ng-repeat="(key, tag) in activeSearchMap">
						<a ng-click="scrollToFragmentId(tag)" ng-class="{active: tag === activeSection}">
							&lt;{{tag}}&gt;
						</a>
						<span ng-if="!$last">,</span>
					</small>
				</h3>
			</div>
		</div>
	</div>
	<ng-include src="'views/search/search-form.html'"></ng-include>
</header>